<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>数据管理后台</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">

</head>
<body>
<form class="layui-form">
    <!-- 内容主体区域 -->
    <div class="" style="padding: 15px;">
        <div class="layui-row">
            <!-- layui表单 -->
            <!--<form class="layui-form">-->
                <!--&lt;!&ndash; layui-inline 在一个行中显示多个div &ndash;&gt;-->
                <!--<div class="layui-inline">-->
                    <!--<a href="javascript:void(0)" id="btnUpdateCookie" class="layui-btn">更新cookie</a>-->
                <!--</div>-->
            <!--</form>-->
        </div>

        <!--
    layui-table 代表是一个表格
    url : ajax获取数据的地址
    page : 自动生成分页栏
    height:auto 表格高度随着内容自适应
    lay-filter相当于layui自己使用的ID
-->
        <table class="layui-table" id="cookie_table" lay-filter="cookie_table">
        </table>
    </div>
</form>
<script type="text/javascript" src="../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:inline="javascript" src="../static/js/cookie.js" th:src="@{/js/cookie.js}"></script>
<script src="../static/js/common.js" th:src="@{/js/common.js}"></script>
<script type="text/html" id="cookieTypeEnum">
    {{# if(d.type === 1){ }}
    百度知道
    {{# }else if(d.type === 2){ }}
    微博
    {{# }else if(d.type === 3){ }}
    知乎
    {{# } }}
</script>
<script type="text/html" id="dateFormat">
    <div>{{layui.util.toDateString(d.updateTime, 'yyyy-MM-dd HH:mm:ss')}}</div>
</script>


<div class="site-text" style="margin: 5%; display: none" id="window"  target="test123">
    <form class="layui-form" id="book" method="post" lay-filter="example">
        <div class="layui-form-item">
            <label class="layui-form-label">cookie</label>
            <div class="layui-input-block">
                <input type="text" id="cookie" name="cookie" lay-verify="cookie" autocomplete="off" placeholder="请输入cookie" class="layui-input">
            </div>
        </div>
    </form>
</div>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="update">更新</a>
</script>
</body>
</html>