<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>携程数据管理后台</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头部导航栏部分-->
    <div class="layui-header layui-bg-cyan">
        <div class="layui-logo">数据后台管理</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="https://www.xmlvhy.com/images/user.png" class="layui-nav-img">
                    <span th:text="${customer.name}">小莫先生</span>
                </a>
                <dl class="layui-nav-child" style="text-align: center">
                    <dd><a href="javascript:void(0);" th:href="@{/logout}">退出系统</a></dd>
                    <dd><a href="javascript:void(0);" onclick="customerInfo()">基本资料</a></dd>
                </dl>
            </li>
            <!--<li class="layui-nav-item"><a href="">退出</a></li>-->
        </ul>
    </div>

    <!--侧边栏-->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed" data-url="/crawler/manage/crawler_task" data-title="采集任务管理" data-type="tabAdd" data-id="1" id="ct"><a>采集任务管理</a></li>
                <li class="layui-nav-item layui-nav-itemed" data-url="/crawler/manage/hotel_info" data-title="酒店信息" data-type="tabAdd" data-id="2"><a>酒店信息</a></li>
                <li class="layui-nav-item layui-nav-itemed" data-url="/crawler/manage/detail_info" data-title="酒店详情" data-type="tabAdd" data-id="3"><a>酒店详情</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-tab" lay-filter="demo" lay-allowclose="true" style="margin-left: 200px;">
        <ul class="layui-tab-title">
        </ul>
        <ul class="rightmenu" style="display: none;position: absolute;">
            <li data-type="closethis">关闭当前</li>
            <li data-type="closeall">关闭所有</li>
        </ul>
        <div class="layui-tab-content">
        </div>
    </div>

    <!-- 底部固定区域 -->
    <div class="layui-footer" align="center">
        <span class="layui-text"><b>郑重声明:此站涉及的相关数据仅用于学习交流，不得用于商业用途。</b></span>
        <span class="layui-text">Copyright © 2020 BY 杰尼</span>
    </div>
</div>
<!-- 利用JS初始化上面的table组件 -->
<script type="text/javascript" src="../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:inline="javascript" src="../static/js/crawler_task.js" th:src="@{/js/crawler_task.js}"></script>
<script type="text/javascript" th:inline="javascript" src="../static/js/manage_center.js" th:src="@{/js/manage_center.js}"></script>
<script src="../static/js/common.js" th:src="@{/js/common.js}"></script>
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        var $ = layui.jquery;
        $("#ct").click();
    });
</script>
<script type="text/html" id="statusEnum">
    {{# if(d.status === 0){ }}
    待采集
    {{# }else if(d.status === 1){ }}
    正在采集
    {{# }else if(d.status ===2){ }}
    已完成
    {{# } }}
</script>
<script type="text/html" id="dateFormat">
    <div>{{layui.util.toDateString(d.createTime, 'yyyy-MM-dd HH:mm:ss')}}</div>
    </script>
</body>
</html>